<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body>
    
    <h1>Bem-vindo!</h1>

    <p>Use os links abaixo para testar as paginas de erro:</p>

    <ul>
        <li><a href="/area-restrita">Testar Erro 401 (Não Autorizado)</a></li>
        <li><a href="/painel-admin">Testar Erro 403 (Acesso Proibido)</a></li>
        <li><a href="/pagina-que-nao-existe">Testar Erro 404 (Não Encontrado)</a></li>
    </ul>
</body>
</html>