{% extends "base.html" %}

<title>{% block title %}{{titulo_pagina}}{% endblock %}</title>

{% block content %}
<h2>Biblioteca</h2>
<div class="lista-livros">
    <div class="livro">
        <a href="{{ url_for('recursao') }}">
            <img src="{{ url_for('static', filename='imagens/recursao_capa.jpg') }}" alt="Recursão">
            <h3>Recursão</h3>
            <p>Um mergulho na mente humana através da ficção científica.</p>
        </a>
    </div>

    <div class="livro">
        <a href="{{ url_for('tudoerio') }}">
            <img src="{{ url_for('static', filename='imagens/tudoerio_capa.jpg') }}" alt="Tudo é Rio">
            <h3>Tudo é Rio</h3>
            <p>Romance profundo sobre amor e dor.</p>
        </a>
    </div>

    <div class="livro">
        <a href="{{ url_for('umafamiliafeliz') }}">
            <img src="{{ url_for('static', filename='imagens/umafamiliafeliz_capa.jpg') }}" alt="Uma Família Feliz">
            <h3>Uma Família Feliz</h3>
            <p>A vida de uma família, aparentemente, perfeita.</p>
        </a>
    </div>
</div>
{% endblock %}
