{% extends "base.html" %}

<title>{% block title %}{{titulo_pagina}}{% endblock %}</title>

{% block content %}
<h1>Sobre Nós</h1>

<p>
Bem-vindo à LaElio vros! Somos uma livraria dedicada a oferecer uma ampla seleção de livros para todos os gostos e idades. Nossa missão é promover a leitura e o conhecimento, proporcionando um ambiente acolhedor para nossos clientes.
</p>

<p>
A LaElio vros foi criada na aula do professor Agostinho, onde surgiu a ideia de montar uma biblioteca que não só abrisse portas para novos mundos, mas também deixasse claro que aluno que não estuda direito pode até tentar se esconder atrás de um livro... mas o professor sempre percebe! 
</p>

<p>
Na LaElio vros, você encontrará desde clássicos da literatura até os lançamentos mais recentes, além de uma equipe apaixonada por livros pronta para ajudar você a encontrar sua próxima leitura favorita. E, professor Agostinho, pode anotar: 10 pro Gabriel Paiva, hein! 😏
</p>

<p>
Visite-nos e descubra o prazer da leitura. Estamos ansiosos para recebê-lo em nossa livraria!
</p>

<p style="text-align:center; font-weight:bold; font-size:1.2em;">
CARDIEI, MUSCULEI E CODEI
</p>
{% endblock %}
