<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>LOGIN</title>
</head>
<body>
    {% if session['username'] %}
        <h1>Logado como <strong>{{ session['username'] }}</strong></h1>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    {% else %}
        <div class="container">
            <h1>Insira login e senha</h1>
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Nome do usuário">
                <input type="password" name="password" placeholder="Senha">
                <button type="submit">Logar</button>
            </form>
        </div>
    {% endif %}
</body>
</html>